# Editor files
.kateproject
*.kate-swp

# Distribution / packaging
env/
*/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
lib/
lib64/
parts/
sdist/
var/
.venv/
*.egg
.installed.cfg
.Python
*.so

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.envrc
uv.lock
.venv

# Python files
__pycache__/
ipython_config.py
.ipynb_checkpoints
.ruff_cache
.pytest_cache/
*.ipynb
*.pkl
*.py[cod]
*$py.class
.python-version
